/* General Styles */
body {
    font-family: 'Dancing Script', cursive;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Container Styles */
.container {
    text-align: center;
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-in-out forwards;
}

/* Heading Styles */
h1 {
    font-size: 3rem;
    color: #820b00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Paragraph Styles */
p {
    font-size: 2rem;
    color: #555555;
    animation: slideInRight 1s ease-in-out;
}

/* Keyframes for Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Hover Effects */
.container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
